$foreground: #FF683A;
$foreground-hover: #E55E34;
$light-foreground: #FFC6B2;
$body-font: Lato, Helvetica, Arial, sans-serif;
$accent-font: Quicksand, Helvetica, Arial, sans-serif;
$callout-bg: #fdfdfd;
$callout-fg: #323232;
$callout-border: #cccccc;

@import "responsive-util.scss";

html {
    font-size: 10px;

    @media screen and (max-width: 400px) {
        font-size: 8px;
    }
}
body {
    font-family: $body-font;
    color: #000;
    background: #fff;
    margin: 0px;
    padding: 0px;
}

a {
    color: $foreground;
}

.intro {
    width: 100%;
    background: radial-gradient(ellipse at bottom, #fff 0%, $light-foreground 100%);
    padding: 0 0 1rem;
    font-family: $accent-font;
}
.logo {
    color: $foreground;
    text-align: center;
}
.logo-content {
    margin: 3rem 0 0 0;
    display: inline-block;
    text-align: left;
    font-size: 5rem;
    font-weight: normal;
}
.logo-content-dotorg {
    text-align: right;
}

.intro-copy {
    width: 50%;
    margin: 2rem auto;
    font-size: 3rem;

    @media screen and (max-width: 1100px) {
        width: 75%;
    }
}

.action-buttons {
    text-align: center;
    margin: 2rem 0rem;
}
.action-button {
    display: inline-block;
    font-family: $accent-font;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: radial-gradient(ellipse at 50% -50%, $light-foreground 0%, $foreground 100%);
    color: #fff;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
    border: 1px solid $foreground;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    
    &:hover {
        background: radial-gradient(ellipse at 50% 0%, $light-foreground 0%, $foreground 100%);
    }
    &:focus {
        outline: 0;
    }
    &::before {
        position: absolute;
        left: -5px;
        top: -5px;
        width: 100%;
        height: 100%;
        padding: 3px;
        border: 2px solid #323232;
        border-radius: 6px;
        content: ' ';
        transform: scale(1.1);
        opacity: 0;
        transition: transform 0.125s ease-out;
        transition-property: transform, opacity;
    }
    &:focus:not(:active)::before {
        transform: scale(1);
        opacity: 0.5;
    }
    &.action-button-primary {
        box-shadow: 0px 0px 20px $foreground;
    }

    @media screen and (max-width: 850px) {
        font-size: 1.8rem;
        padding: 1rem 1.4rem;
    }
}

.what-is {
    background: $callout-bg;
    color: $callout-fg;
    padding: 2rem 25%;
    border-top: 1px solid $callout-border;
    border-bottom: 0.5rem solid $foreground;
    position: relative;
    display: none;
    
    p {
        font-size: 1.8rem;
        margin: 2rem 0;
    }

    @media screen and (max-width: 1100px) {
        padding: 2rem 12.5%;
    }
}

.what-is-button .nub {
    position: absolute;
    left: 50%;
    top: calc(100% + 1px);
    width: 5.657rem;
    height: 5.657rem;
    transform: rotate(45deg);
    transform-origin: 0 0;
    background: $callout-bg;
    border-top: 1px solid $callout-border;
    border-left: 1px solid $callout-border;
    z-index: 1;
    display: none;
}

.what-is-toggled {
    .what-is {
        display: block;
    }
    .what-is-button .nub {
        display: block;
    }
}

.primary-reasons {
    background: $callout-fg;
    color: #fff;
    padding: 2rem 1rem;
    position: relative;

    h2 {
        margin: 0;
        font-size: 2rem;
        font-weight: normal;
        font-family: $accent-font;
        color: $foreground;
    }

    p {
        font-size: 1.8rem;
        line-height: 1.4;
    }

    @media screen and (max-width: 850px) {
        .columns {
            @include flatten-columns();
        }
    }
}

.secondary-reasons {
    background: #222;
    color: #fff;
    padding: 2rem 1rem;
    display: none;

    h2 {
        margin: 0 0 2rem;
        font-size: 2rem;
        font-weight: normal;
        font-family: $accent-font;
        text-align: center;
        color: $foreground;
    }

    h3 {
        margin: 0;
        font-size: 1.8rem;
        font-weight: normal;
        font-family: $accent-font;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    @media screen and (max-width: 850px) {
        .columns {
            @include flatten-columns();
        }
    }
}

.secondary-reasons-toggle {
    width: 100%;
    height: 4rem;
    background: $foreground;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 4rem;
    vertical-align: middle;

    &:hover {
        background: $foreground-hover;
    }
}
.secondary-reasons-toggle-icon {
    height: 1.8rem;
    vertical-align: middle;
}

.secondary-reasons-toggled {
    .primary-reasons {
        box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 1);
        border-bottom: 0.5rem solid $foreground;
    }
    .secondary-reasons {
        display: block;
    }
    .secondary-reasons-toggle {
        display: none;
    }
}

.legal {
    display: none;
}
.legal-toggled {
    .legal {
        display: block;
    }
}

.wizard {
    position: fixed;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
    background: $callout-bg;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.25s ease-out;
    transition-property: transform, opacity;
    visibility: hidden;
    overflow-y: auto;

    h2 {
        text-align: center;
        font-size: 3rem;
        font-family: $accent-font;
        font-weight: normal;
        color: $foreground;
    }

    .wizard-close {
        position: absolute;
        right: 0;
        top: 0;
        background: $callout-bg;
        border: 0;
        width: 3.2rem;
        box-sizing: content-box;

        img {
            width: 100%;
        }
    }

    .wizard-contents {
        font-size: 1.8rem;
        margin: 2.0rem;

        h3 {
            font-size: 2.2rem;
        }
    }
    
    .wizard-adblocker-present {
        display: none;
    }
    
    .wizard-adblocker-absent {
        display: none;

        .wizard-adblocker-details {
            display: flex;
        }
        .wizard-adblocker-icon-container {
            flex: 0 0 auto;
            margin-right: 2.0rem;
            padding-right: 1.0rem;
            border-right: 1px solid $callout-border;
            width: 12.8rem;
            line-height: 12.8rem;
            vertical-align: middle;

            img {
                width: 100%;
                vertical-align: middle;
            }
        }
        .wizard-adblocker-info {
            flex: 1 1 0;

            h4 {
                margin-top: 0px;
            }
        }

        .wizard-adblocker-disclaimer {
            text-align: center;
            font-size: 1.4rem;
            margin-top: 2.0rem;
        }

        .wizard-adblocker-install {
            margin-top: 0rem;
            margin-left: 0rem;
        }
    }

    .wizard-unknown-browser {
        display: none;
    }

    .wizard-loading {
        display: block;
        font-size: 3rem;
        text-align: center;

        .spinner {
            width: 10%;
        }

        span {
            display: block;
        }
    }

    @media screen and (max-width: 850px) {
        .wizard-adblocker-absent .wizard-adblocker-icon-container {
            width: 7.2rem;
            line-height: 7.2rem;
        }
    }

    @media screen and (max-width: 650px) {
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
    }
}

.wizard-toggled .wizard {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.adblocker-present .wizard {
    .wizard-adblocker-present {
        display: block;
    }

    .wizard-loading {
        display: none;
    }
}

.adblocker-absent:not(.unknown-browser) .wizard {
    .wizard-adblocker-absent {
        display: block;
    }

    .wizard-loading {
        display: none;
    }
}

.unknown-browser:not(.adblocker-present) .wizard {
    .wizard-unknown-browser {
        display: block;
    }

    .wizard-loading {
        display: none;
    }
}

footer {
    margin: 10rem 0 1rem;
    font-size: 1.4rem;
    text-align: center;

    .footer-social {
        margin-bottom: 1.2rem;

        img {
            width: 6.4rem;
        }
        a {
            text-decoration: none;
        }
    }
}

.columns {
    display: flex;
    justify-content: space-between;
}
.column {
    flex: 1 1 0;
    padding: 0 1rem;
}

.h2-icon {
    height: 2rem;
    vertical-align: middle;
}
.h3-icon {
    height: 1.8rem;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinner {
    display: inline-block;
    width: 32px;

    img {
        width: 100%;
        animation: spin 2s ease-out infinite;
    }
}