<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <link rel="icon" type="image/png" href="/images/icon.png">
        <meta name="theme-color" content="#FFC6B2">
        <meta name="description" content="Tired of seeing ads everywhere online? We'll show you how to get rid of them by installing an adblocker.">
        <%= htmlWebpackPlugin.options.extraData.analytics() %>
    </head>
    <body>
        <%= htmlWebpackPlugin.options.extraData.subtemplate() %>
    </body>
</html>