<section class="intro">
    <div class="logo">
        <h1 class="logo-content">
            <div class="logo-content-use">USE</div>
            <div class="logo-content-adblockers">ADBLOCKERS</div>
            <div class="logo-content-dotorg">.ORG</div>
        </h1>
    </div>
    <div class="intro-copy">
        <p>
            These days, it seems like every inch of the web is covered with advertisements.
            Online ads are both a nuisance and a security risk.  So block them.
        </p>
        <div class="action-buttons">
            <button class="action-button action-button-primary get-started-button">
                Start blocking ads now
            </button>
            <div class="what-is-button">
                <button class="action-button">
                    What's an adblocker?
                </button>
                <div class="nub"></div>
            </div>
        </div>
    </div>
</section>
<section class="what-is">
    <p>An adblocker is a small piece of software that you install on your computer.  It is an
    <b>extension</b> for your web browser that changes the way it works.  Normally, a website that you
    visit can tell your computer to display whatever ads it wants.  The adblocker steps in and stops
    your computer from showing the ads &mdash; in other words, it blocks them.</p>
    <div class="nub"></div>
</section>
<section class="primary-reasons">
    <div class="columns">
        <div class="column">
            <h2>
                <img src="/images/elegant/profile.svg" class="h2-icon" alt="Magnifying glass">
                Blocking ads protects your privacy
            </h2>
            <p>Advertising companies want to track everything you do on the Internet.  If you block
            their ads, it's much harder for them to.  This helps preserve your online privacy.</p>
        </div>
        <div class="column">
            <h2>
                <img src="/images/elegant/shield.svg" class="h2-icon" alt="Shield">
                Blocking ads helps stop malware
            </h2>
            <p>Sometimes, ads are used by criminals to distribute malicious software, including
            viruses and worms.  It has even happened on mainstream websites, like Forbes,
            <a href="https://twitter.com/johnwilander/status/891431876111421440"
                target="_blank">Yahoo</a>, and 
            <a href="https://www.theguardian.com/technology/2009/sep/25/malvertising"
                target="_blank">The New York Times</a>.
                When you block ads, you avoid this problem.</p>
        </div>
        <div class="column">
            <h2>
                <img src="/images/elegant/balance.svg" class="h2-icon" alt="Balance scale">
                Blocking ads also blocks scams
            </h2>
            <p>Scammers can use online ads to fool people into buying fake products and spending
            money on fake services.  The consequences can be
            <a href="https://www.washingtonpost.com/local/public-safety/honey-youve-been-scammed-she-was-told-she-lost-her-home-of-30-years/2017/07/26/36afedda-7070-11e7-9eac-d56bd5568db8_story.html"
                target="_blank">financially devastating</a>.

            Blocking ads means blocking some of these scams.
        </div>
    </div>
</section>
<div class="secondary-reasons-toggle" tabindex="0" role="button">
    <img src="/images/elegant/expand.svg" class="secondary-reasons-toggle-icon" alt="Expand">
    Still need more reasons?
</div>
<section class="secondary-reasons">
    <h2>Still need more reasons to block ads?</h2>
    <div class="columns">
        <div class="column">
            <h3>
                <img src="/images/elegant/money.svg" class="h3-icon" alt="Money">
                It saves you money
            </h3>
            <p>Every ad that appears on your screen got there through your Internet or mobile data
            connection, and is powered by your phone or laptop battery.  Advertisers are essentially
            spending <b>your</b> money to show you ads.  Why let them?</p>
        </div>
        <div class="column">
            <h3>
                <img src="/images/elegant/lightbulb.svg" class="h3-icon" alt="Lightbulb">
                It's better for the environment
            </h3>
            <p>Digital advertising is a massive, global industry that uses enormous amounts of energy
            to distribute ads.  That energy is wasted on transmitting junk data that most people
            ignore anyway.  You can reduce this waste by blocking ads.</p>
        </div>
        <div class="column">
            <h3>
                <img src="/images/elegant/hourglass.svg" class="h3-icon" alt="Hourglass">
                It gives you a better experience
            </h3>
            <p>When you browse the web, you aren't there to see ads.  You're there to read the news, do
            your shopping, and connect with friends.  Ads ruin this experience by slowing your
            connection down, getting in the way, and distracting your attention.  Adblockers make
            your experience online much faster and smoother.</p>
        </div>
    </div>
</section>

<section class="wizard-container">
    <div class="wizard">
        <button class="wizard-close" title="Close">
            <img src="/images/elegant/close.svg" alt="Close">
        </button>
        <h2>Say goodbye to ads forever</h2>
        <div class="wizard-contents">
            <div class="wizard-adblocker-present">
                <h3>Congratulations!</h3>
                <p>It looks like you're already blocking ads.  Way to go!</p>
                <h4>Spread the great news!</h4>
                <p>
                    Let your friends know that you're blocking ads.  Help them find the light too by posting about
                    UseAdblockers.org on your social media.  Don't know what to say?  Try one of these ideas:
                </p>
                <div class="wizard-social-suggestion">
                    <div class="wizard-social-suggestion-profile">You</div>
                    <div class="wizard-social-suggestion-content">
                        <span class="wizard-social-suggestion-display-name">You</span>
                        <span class="wizard-social-suggestion-username">@your_username</span>
                        <span class="wizard-social-suggestion-date"></span>
                        <div class="wizard-social-suggestion-text" data-binding-class="wizard-social-suggestion-text"></div>
                        <div class="wizard-social-suggestion-actions">
                            <button class="light-button wizard-social-copy-button">
                                <span class="normal-text">
                                    <img src="/images/elegant/clipboard.svg" alt="Clipboard">
                                    Copy this message
                                </span>
                                <span class="successful-text">
                                    <img src="/images/elegant/check.svg" alt="Checkmark">
                                    Message copied
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="wizard-social-suggestions"></div>
            </div>
            <div class="wizard-adblocker-absent">
                <h3>
                    Here's 
                    <span class="wizard-adblocker-adjective">
                        <span class="wizard-adblocker-best">the best</span>
                        <span class="wizard-adblocker-another">another great</span>
                    </span>
                    way to block ads in <span class="wizard-browser-name"></span>:
                </h3>
                <div class="wizard-adblocker-details">
                    <div class="wizard-adblocker-icon-container">
                        <img class="wizard-adblocker-icon" alt="Ad blocker icon">
                    </div>
                    <div class="wizard-adblocker-info">
                        <h4 class="wizard-adblocker-name"></h4>
                        <p class="wizard-adblocker-description"></p>
                        <a class="wizard-adblocker-install action-button action-button-primary" target="_blank"></a>
                    </div>
                </div>
                <div class="wizard-adblocker-disclaimer">
                    UseAdblockers.org is not affiliated with <span class="wizard-browser-name"></span>
                    or <span class="wizard-adblocker-name"></span>
                </div>
                <div class="wizard-adblocker-selector">
                    <h4>Check out some other ways to block ads in <span class="wizard-browser-name"></span>:</h4>
                    <div class="wizard-adblocker-selector-option">
                        <img class="wizard-adblocker-selector-icon" data-binding-class="wizard-adblocker-selector-icon" alt="Ad blocker icon">
                        <span class="wizard-adblocker-selector-name" data-binding-class="wizard-adblocker-selector-name"></span>
                    </div>
                    <div class="wizard-adblocker-selector-options"></div>
                </div>
            </div>
            <div class="wizard-unknown-browser">
                <h3>Oops</h3>
                <p>Sorry, we don't have any info for your browser.  Is it a new or less common one?</p>
                <p>If you'd like to help, you can report this on GitHub.</p>
            </div>
            <div class="wizard-loading">
                <div class="spinner">
                    <img src="/images/elegant/cog.svg" alt="Spinning cog">
                </div>
                <span>Wait a moment while we check your browser...</span>
            </div>
        </div>
    </div>
</section>
<section class="home-cta">
    <h2>Help us out</h2>
    <p>We believe everyone who uses the web can benefit from blocking ads.  If you agree, we'd love your help!</p>

    <div class="columns">
        <div class="column">
            <h3>Follow us on social media</h3>
            <nav class="social">
                <a href="https://twitter.com/useadblockers">
                    <img src="/images/3rd-party-icons/twitter.svg" alt="Link to Twitter">Follow @UseAdblockers</a>
                <br>
                <a href="https://www.facebook.com/UseAdblockers/">
                    <img src="/images/3rd-party-icons/facebook.svg" alt="Link to Facebook">Like UseAdblockers.org</a>
            </nav>
        </div>

        <div class="column">
            <h3>Contribute code or report issues</h3>
            <p>UseAdblockers.org is open-source &mdash; submit your pull requests and issues!</p>
            <nav class="social">
                <a href="https://github.com/josiah-keller/use-adblockers">
                    <img src="/images/3rd-party-icons/github.svg" alt="Link to Github Repo">Find our repo on GitHub</a>
            </nav>
        </div>
    </div>
</section>
<footer>
    &copy; 2018 UseAdblockers.org contributors |
    <a href="#legal" class="legal-link">Legal</a>
    
    <div id="legal" class="legal">
        <p>UseAdblockers.org is not affiliated with any vendors or products featured on this website.</p>
    </div>
</footer>